<% include('header') %>


<h1>welcome, <%= user.name %></h1>

<table style="width: 50%;">
    <tr>
        <td>Name</td>
        <td><%= user.name %></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= user.email %></td>
    </tr>
    <tr>
        <td>Phone</td>
        <td><%= user.phone %></td>

    </tr>
    <tr>
        <td>Verified</td>
        <td>
            <% if(user.is_verified == 1){
                %>
                <p>true</p>
                <%
            }
            %>
        </td>
    </tr>
</table>

<a href="/logout">logout</a>

<% include('footer') %>