<% include('header') %>

<h1>User login page</h1>

<form action="/register" method="post">
    <input type="text" name="name" placeholder="Enter name">
    <br><br>
    <input type="text" name ="phone" placeholder="Enter number">
    <br><br>
    <input type="email" name="email" placeholder="Enter email">
    <br><br>
    <input type="password" name="password" placeholder="Enter password">
    <br><br>
    <input  type="submit" value="Register">
</form>

<% 
  if(typeof message !== 'undefined'){
    %>
    <p style="color: green;"><%= message %></p>
    <%
  }
%>
<% include('footer') %>